#displayDiv {
  height: 100vh;
}

.container {
  position: relative;
  height: 100vh; /* Adjust height as needed */
}

.background-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

#bc-one {
  background-image: url('../../assets/dragon.png');
}

#bc-two {
  background-image: url('../../assets/dim-sum-chopsticks.webp');
}

#bc-three {
  background-image: url('../../assets/catering.jpg');
}

#border {
  border-width: 5px;
  border-style:solid;
  position: absolute;
  bottom: 0;
}

