#first-deals {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #960703;
}

.deal-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 93px 75px;
  border-radius: 15px;
}

.deal-titles {
  font-weight: bolder;
  font-size: 36px;
  color: white;
  margin: 5px 0px 15px 0px;
}

.deal-supporting {
  color: white;
  margin: 5px 5px 15px 5px;
}

.deal-btn {
  font-size: 15px;
  font-weight: bold;
  background-color: transparent;
  border-style: solid;
  padding: 15px;
  color: white;
  border-color: white;
  margin: 10px;
}

.deal-btn:hover {
  background-color: white;
  color: #960703;
}

#second-deals {
  background-color: #960703;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.second-deal-pics {
  width: 57vw;
}

.menu-card {
  margin: 0px 50px;
}

div.menu-card#right {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

div.menu-card#left {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}