#first-deals {
  justify-content: center;
  align-items: center;
}

.deal-cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 93px 75px;
  border-radius: 15px;
}

.deal-titles {
  margin: 5px 0px 15px 0px;
}

.deal-supporting {
  margin: 5px 5px 15px 5px;
}

#second-deals {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.second-deal-pics {
  width: 57vw;
}

.menu-card {
  margin: 0px 50px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

div#right {
  align-items: flex-start;
}

div.menu-card#left {
  align-items: flex-end;
}