#first-deals {
  justify-content: center;
  align-items: center;
}

.deal-cards {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 93px 75px;
  border-radius: 15px;
}

.deal-titles {
  margin: 5px 0px 15px 0px;
}

.deal-supporting {
  margin: 5px 5px 15px 5px;
}

#second-deals {
  align-items: center;
  justify-content: space-between;
}

.second-deal-pics {
  width: 57vw;
}

.menu-card {
  margin: 0px 50px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

div#right {
  align-items: flex-start;
}

div#left {
  align-items: flex-end;
}

@media (max-width: 1129px) {

  .deal-titles {
    text-align: center;
  }

  #first-deals {
    flex-wrap: wrap;
  }

  #second-deals {
    margin-bottom: 25px;
  }

  .deal-cards {
    margin: 45px 0px;
  }

  .menu-card {
    margin: 0px 0px;
  }

  .deal-pics {
    width: 100%;
  }

  div.reverse-column {
    flex-direction: column-reverse;
  }

  div#right {
    align-items: center;
    margin: 0px 25px;
  }

  div.forward-column {
    flex-direction: column;
  }

  div#left {
    align-items: center;
    margin: 0px 25px;

  }
}