.default-params {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

#menuBar {
  background-color: 	#960703;
}

#otherMenuBar {
  background-color: 	#6b0101;
}

#logoBtn {
  margin: 5px 15px;
  border-style: hidden;
  background: transparent;
  height: 90px;
  width: 130px;
}

@media (min-width: 960px) and (max-width: 1129px) {
  #menuBar {
    flex-direction: column;
  }
}
@media (max-width: 961px) {
  #menubar-btn-container {
    display: hidden;
  }
}